<div class="header"><h1>Fibonacci calculator</h1></div>

<div class="container">
  <form
    class="form"
    [formGroup]="fibonacciForm"
    (ngSubmit)="calculateFibonacci()"
  >
    <div class="form-group">
      <label for="number">Number: </label>
      <input type="number" id="number" formControlName="number" />
    </div>
    <div class="form-group">
      <button
        class="form-submit-btn"
        type="submit"
        [disabled]="!fibonacciForm.valid"
      >
        Submit
      </button>
    </div>
  </form>
  <div class="form-group">
    <label>Wynik: </label> <input value="{{ result }}" />
  </div>
</div>
